* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu::after {
    content: "";
    display: block;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}
.col-md-9 {
    width: 75%;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu > li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu > li > a {
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
}
.menu > li > a:hover {
    background-color: #2c71b8;
    color: rgba(255, 255, 255, 1);
}
.search {
    border: 1px solid  #2c71b8;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-search {
    height: 38px;
    line-height: 38px;
}
.form-search:after {
    content: "";
    display: block;
    clear: both;
}
.input-search-text {
    float: left;
    background: transparent;
    border: none;
    width: 75%;
    height: 40px;
    line-height: 40px;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.input-search-text:focus-visible {
    outline: none;
}
.input-search-text::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
}
.input-search-button {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
    border: none;
    background-color: #2c71b8;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center, center;
}
.input-search-button:focus {
    outline: none;
}
.cart {
    width: 40px;
    height: 40px;
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
}
.products-count {
    position: relative;
    background-color: #2c71b8;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    top: -10px;
    left: -10px;
}
.image-cart {
    width: 18px;
    height: 20px;
    position: relative;
    top: -10px;
    left: 10px;
}
/* .menu > li .submenu {
    display: none;
} */
.menu > li:hover .submenu {
    display: block;
}
.menu {
    position: relative;
}
.submenu {
    position: absolute;
    height: 316px;
    background-color: #2c71b8;
    margin-left: -1px;
}
.submenu > li {
    padding: 0;
}
.submenu > li > a {
    display: block;
    width: 286px;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 100;
}
.submenu > li:first-child {
    padding-top: 23px;
}
.submenu > li:last-child {
    padding-bottom: 17px;
}
.submenu > li a:hover {
    display: block;
    background-color: white;
    color: #2c71b8;
    margin: 0;
}