* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu::after {
    content: "";
    display: block;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-1 {
    width: 8.33333%;
}
.col-md-2 {
    width: 16.66667%;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.33333%;
}
.col-md-5 {
    width: 41.66667%;
}
.col-md-6 {
    width: 50%;
}
.col-md-7 {
    width: 58.33333%;
}
.col-md-8 {
    width: 66.66667%;
}
.col-md-9 {
    width: 75%;
}
.col-md-10 {
    width: 83.33333%;
}
.col-md-11 {
    width: 91.66667%;
}
.col-md-12 {
    width: 100%;
}



/* Header */

.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu > li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu > li > a {
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
}
.menu > li > a:hover {
    background-color: #2c71b8;
    color: rgba(255, 255, 255, 1);
}
.search {
    border: 1px solid  #2c71b8;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-search {
    height: 38px;
    line-height: 38px;
}
.form-search:after {
    content: "";
    display: block;
    clear: both;
}
.input-search-text {
    float: left;
    background: transparent;
    border: none;
    width: 75%;
    height: 40px;
    line-height: 40px;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.input-search-text:focus-visible {
    outline: none;
}
.input-search-text::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
}
.input-search-button {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0;
    border: none;
    background-color: #2c71b8;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: center, center;
}
.input-search-button:focus {
    outline: none;
}
.cart {
    width: 40px;
    height: 40px;
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
}
.products-count {
    position: relative;
    background-color: #2c71b8;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    top: -10px;
    left: -10px;
}
.image-cart {
    width: 18px;
    height: 20px;
    position: relative;
    top: -10px;
    left: 10px;
}
.menu > li .submenu {
    display: none;
}
.menu > li:hover .submenu {
    display: block;
}
.menu {
    position: relative;
}
.submenu {
    position: absolute;
    height: 316px;
    background-color: #2c71b8;
    margin-left: -1px;
    z-index: 10;
}
.submenu > li {
    padding: 0;
}
.submenu > li > a {
    display: block;
    width: 286px;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    color: white;
    text-decoration: none;
    font-size: 21px;
}
.submenu > li:first-child {
    padding-top: 25px;
}
.submenu > li:last-child {
    padding-bottom: 17px;
}
.submenu > li a:hover {
    display: block;
    background-color: white;
    color: #2c71b8;
    margin: 0;
}
li.products {
    background-image: url(images/arrow\ down\ \(16x16blue\).png);
    background-repeat: no-repeat;
    background-position: right 8px bottom 16px;
}
li.products:hover > a {
    background-image: url(images/arrow\ down\ \(16x16white\).png);
    background-repeat: no-repeat;
    background-position: right 8px bottom 16px;
    background-color: #2c71b8;
    color: white;
}



/* Main */

/* Slider */
.slider-block > div {
    padding: 150px 0;
    text-align: center;
    color: white;
    font-size: 50px;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
}


/* Filter */
.filter {
    width: 270px;
    height: 840px;
    color: white;
    background-color: rgba(255, 255, 255, 0.20);
    border-right: 1px solid white;
}
.filter-form {
    font-size: 21px;
    padding: 30px;
}
.filter-form-bold-weight-device, .filter-form-bold-weight-color, .filter-form-bold-weight-ram {
    position: relative;
    font-weight: 700;
    margin-bottom: 63px;
    text-transform: uppercase;
}
.filter-form-bold-weight-ram {
    margin-bottom: 30px;
}
.filter-form-bold-weight-device > li, .filter-form-bold-weight-color > li, .filter-form-bold-weight-ram > li {
    font-weight: 300;
    margin-top: 27px;
    text-transform: none;
}
.show-more-options {
    text-align: center;
    margin-bottom: 25px;
}
.filter-button-submit {
    text-align: center;
    color: white;
    background-color: #2c71b8;
    border: 1px solid white;
    width: 210px;
    height: 50px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}
.filter-button-submit:focus {
    outline: none;
}

.filter-button-submit:hover {
    background-color: rgba(255, 255, 255, 0.30);
    border: none;
}
.filter-form-bold-weight-device > li > input[type="checkbox"], .filter-form-bold-weight-color > li > input[type="checkbox"], .filter-form-bold-weight-ram  > li > input[type="checkbox"] {
    display: none
}
.filter-form-bold-weight-device > li > label::before, .filter-form-bold-weight-color > li > label::before, .filter-form-bold-weight-ram  > li > label::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.filter-form-bold-weight-device > li > input[type="checkbox"]:checked + label::before, .filter-form-bold-weight-color > li > input[type="checkbox"]:checked + label::before, .filter-form-bold-weight-ram > li > input[type="checkbox"]:checked + label::before {
    background-color: white;
}
.filter-form-bold-weight-device > li > label, .filter-form-bold-weight-color > li > label, .filter-form-bold-weight-ram > li > label {
    position: relative;
}
.filter-form-bold-weight-device > li > label > span, .filter-form-bold-weight-color > li > label > span, .filter-form-bold-weight-ram > li > label > span {
    position: absolute;
    top: -4px;
    left: 22px;
}


/* Breadcrumbs and h1*/
.breadcrumbs {
    margin: 30px 0 15px;
}
.breadcrumbs > p > a, .breadcrumbs > p > span {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.breadcrumbs > p a::after {
    content: url(images/arrow\ right\ \(16x16white\).png);
    vertical-align: middle;
    opacity: 0.5;
}
.breadcrumbs > p > a:hover {
    text-decoration: underline;
}
.breadcrumbs > p > span:hover {
    text-decoration: none;
}
.h1 {
    margin: 0px 0 35px;
    color: white;
    font-size: 48px;
    font-weight: 700;
}



/* Sort */
.sort {
    color: white;
    font-size: 21px;
    font-weight: 300;
}



/* Products */
.product {
    width: 270px;
    height: 655px;
    margin-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    background-color: rgba(44, 113, 184, 0.75);
}
.all-images {
    background-color: rgba(255, 255, 255, 0.75)
}
.product-image, .product2-image, .product3-image, .product4-image, .product5-image, .product6-image, .product7-image, .product8-image, .product9-image {
    position: relative;
}
.product-image > a > img {
    padding: 44px 83px;
}
.product2-image > a > img, .product8-image > a > img {
    padding: 47px 83px;
}
.product3-image > a > img, .product9-image > a > img {
    padding: 38px 106px;
}
.product4-image > a > img {
    padding: 60px 83px;
}
.product5-image > a > img {
    padding: 40px 104px;
}
.product6-image > a > img {
    padding: 40px 107px;
}
.product7-image > a > img {
    padding: 38px 100px;
}
.lightbox-and-like {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    border: 1px solid #2c71b8;
    background-position: center center;
}
.lightbox {
    background-image: url(images/square\ blue.png);
    background-repeat: no-repeat;
    top: 10px;
}
.like {
    background-image: url(images/heart\ blue.png);
    background-repeat: no-repeat;
    top: 50px;
}
.lightbox:hover {
    background-image: url(images/square\ white.png);
    background-color: #2c71b8;
}
.like:hover, .liked {
    background-image: url(images/heart\ white.png);
    background-color: #2c71b8;
    cursor: pointer;
}
.product-body {
    padding: 15px;
    color: white;
}
.product-title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.product-description {
    font-size: 21px;
    padding-bottom: 15px;
}
.product-features {
    font-size: 21px;
    padding-bottom: 10px;
}
.product-features > div > span {
    font-weight: 700;
    text-transform: uppercase;
}
.product-features-type, .product-features-screen_size, .product-features-ram {
    padding-bottom: 15px;
}
.product-price > div, .product2-price > div, .product5-price > div, .product8-price > div {
    position: relative;
    left: -15px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 25px;
}
.product-price > div > span {
    position: absolute;
    top: 0;
    left: 180px;
    font-size: 30px;
    font-weight: 700;
}
.product2-price > div > span, .product5-price > div > span, .product8-price > div >span {
    position: absolute;
    top: 0;
    left: 195px;
    font-size: 30px;
    font-weight: 700;
}
.buttons {
    text-align: center;
}
.button {
    color: white;
    width: 210px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}
.button:focus {
    outline: none;
}
.more_details {
    border: 1px solid white;
    background-color: #2c71b8;
}
.add_to_cart {
    text-align: left;
    padding-left: 23px;
    border: none;
    background-color: rgba(255, 255, 255, 0.30);
    background-image: url(images/white\ cart.png);
    background-repeat: no-repeat;
    background-position: right 17px bottom 17px;
}
.more_details:hover {
    background-color: rgba(255, 255, 255, 0.30);
    border: none;
}
.add_to_cart:hover {
    background-color: #2c71b8;
    border: 1px solid white;
}
.footer {
    height: 100px;
    background-color: rgba(255, 255, 255, 0.75);
}
.copyright {
    line-height: 100px;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}
.modal-block {
    width: 300px;
    height: 200px;
    background-color: white;
    border:1px solid grey;
    padding: 15px;
    margin: 80px auto;
}
.form-field {
    margin: 10px 0;
}
.form-field input {
    width: 100%;
    height: 30px;
    padding: 5px;
}
.close-btn {
    text-align: right;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: block;
}